h1{
    color: whitesmoke;
    margin-top: 50%;
    font-size: 100px;
    font-family: Papyrus;
}

html{
    background-image: url(../Res/background.png);
}

.h1_class{
    margin: auto;
    background: rgba(192,192,192,0.5);
    width: 600px;
    text-align: center;
}